.middle-container {
    box-shadow: 0 0 2px black;
    border: 1px solid black;
    display: inline-block;
    height: 360px ;
    width: auto;
    margin: 20px 305px 20px 305px;
    float: left;
    background: #E1BEE7;
    font-family: Aller, sans-serif ;
}

.middle-container main {
    background: #FAFAFA;
    height: 274px;
    padding: 10px 30px 10px 30px;
    text-align: left;
} 

.right-container {
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 0 2px black;
    margin: 20px;
    border: 1px solid black;
    display: inline-block;
    height: 275px ;
    width: 265px;
    background: #B2DFDB;
    font-family: Aller, sans-serif ;
}

.right-container main {
    background: #F9FBE7;
    height: 169px;
    padding: 20px;
}

.right-container img {
	padding-bottom: 5px;
}

.right-container a {
	text-decoration: underline;
	font-size: 14px;
}

ul li h2 {
	margin-top: 10px;
}