@font-face {
    font-family: 'Aller';
    src: url('./../fonts/aller.ttf');
}

* {
    margin: 0 ;
    padding: 0 ;
    border: none ;
    outline: none ;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0;
    text-decoration: none;
}

html {
    background: #F5F5F5;
    height: 100%;
    width: 100%;
    text-align: center;
    background-image:
        linear-gradient(135deg, rgba(255,255,255,0.5) 25%, transparent 25%),
        linear-gradient(225deg, rgba(255,255,255,0.5) 25%, transparent 25%),
        linear-gradient(45deg, rgba(255,255,255,0.5) 25%, transparent 25%),
        linear-gradient(315deg, rgba(255,255,255,0.5) 25%, transparent 25%);
    background-position:
        15px 0,
        15px 0,
        0 0,
        0 0;
    background-size: 30px 20px;
    background-repeat: repeat;
}